<html style="overflow:hidden;">
  <head>
    <script type="text/javascript" src="/static/Shader.js"></script>
    <script type="text/javascript" src="/static/sylvester.js"></script>
    <script type="text/javascript" src="/static/glUtils.js"></script>
    <script type="text/javascript" src="/static/metro.js"></script>
    <script>
      window.onerror = function(m, _, line) {
        alert(m + ":" + line);
        return true;
      };
      function clicky() {
        let statusEl = document.getElementById('status');
        let countEl = document.getElementById('count');
        let canvasEl = document.getElementById('game-canvas');
        let gameEl = document.getElementById('game-content');
        let lobbyEl = document.getElementById('lobby-content');
        let scoreEl = document.getElementById('score-p');
        metro.setup('ws://{{ websocket }}', gameEl, lobbyEl, statusEl, countEl, canvasEl, scoreEl);
        metro.start();
      }
    </script>
  </head>
  <body style="overflow:hidden">
    <div>
      <div id='game-content' style='visibility:collapsed;'>
        <span id='score-p' style='position:absolute;'></span>
        <canvas id='game-canvas' width='510' height='667'>
        </canvas>
      </div>
      <div id='lobby-content'>
        <div id='status'>?</div>
        <b>Lobby: </b>
        <span id='count'>?</span>
        <button onclick="clicky('works');">Button</button>
      </div>
  </body>
</html>
